$text-color: white;
$button-color: red;

.row{
  margin-top: 50px;
  margin-bottom: 50px;
}

.button{
  background-color: transparent;
  border: none;
  color: $text-color;
}

.buttons{
  background-color: $button-color; 
}


